<ion-view class="home-container">
    <ion-nav-bar class="agenda-header app-header" align-title="center">
        <!--<ion-nav-back-button class="icon header-back-btn" ng-click="backward()">-->
        <!--<span class="icon-icon-left-3"></span>-->
        <!--</ion-nav-back-button>-->
        <ion-nav-title class="nav-title">
            Main
        </ion-nav-title>

        <ion-nav-buttons side="left" class="header-side-btn">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"> </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="app-body">
        <h3>Main Page</h3>
        <a href="#/main/dashboard" class="btn btn-default">go to Dashboard</a>


        <button class="btn btn-primary" ng-click="getBLEDevice()">GET DEVICE</button>

        <ion-list>
            <ion-item ng-repeat="b in bluetoothList" ng-click="connectBLE(b.id)">
                {{b}}
            </ion-item>
        </ion-list>


    </ion-content>

</ion-view>
